.appDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDiv{
    display: flex;
    flex-direction: column;
    width: 450px;
    
}

.formDiv form{
    display: flex;
    flex-direction: column;
}

.lbl{
    padding: 5px 0;
    font-size: 20px;
    font-family: monospace;
}

.input{
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.btn{
    
    padding: 10px;
    margin: 10px;
    border: 5px solid green;
    border-radius: 15px;
    color: white;
    background-color: green;
    font-family: monospace;

}

.addTaskHeader{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.tasksHeader{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

.task-show{
    display: flex;
    border: 1px solid green;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.task-title{
    margin-bottom: 5px;
}


.btn-delete{
    padding: 5px;
    font-size: 15px;
    width: 60px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    margin-right: 10px;
}

.btn-edit{
    padding: 5px;
    font-size: 15px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin-right: 10px;
}